# CODE EXAMPLE OF IMPLEMENTING LINEAR REGRESSION

## Import necessary library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.axes as ax
from matplotlib.animation import FuncAnimation

## Load the dataset and separate predictor and target variables

Load data

In [6]:
data = pd.read_csv("Datasets/lr_data.csv")
type(data)

pandas.core.frame.DataFrame

## Exploratory Data Analysis

In [7]:
data.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [8]:
data.describe()

                 x           y
count   700.000000  699.000000
mean     54.985939   49.939869
std     134.681703   29.109217
min       0.000000   -3.839981
25%      25.000000   24.929968
50%      49.000000   48.973020
75%      75.000000   74.929911
max    3530.157369  108.871618

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

#### Handle missing values

Check for missing values

In [10]:
print(data.isnull().sum())

x    0
y    1
dtype: int64

Remove row with missing values

In [15]:
data = data.dropna()
print(data.isnull().sum())

x    0
y    0
dtype: int64

#### Remove duplicate records

Check if duplicates exist and drop using `.drop_duplicates()`

In [16]:
print(data.duplicated().sum())

0

## Handle Outliers

In [ ]:
Q1 = data.x.quantile(0.25)
Q3 = data.x.quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR